In [32]:
import glob
import os
import pandas as pd

path ='.../data' # use your path
allFiles = glob.glob("data/*.csv")

list_ = []
name=[]

for file_ in allFiles:
#     name.append(os.path.basename(file_))
    df = pd.read_csv(file_, header=0,usecols = ['Close'])
    
#     list_.append(df)

# frame = pd.concat(list_, axis = 1, ignore_index = True)
# frame.columns=[name]

ValueError: Usecols do not match columns, columns expected but not found: ['Close']

In [14]:
list_[:3]

[           Date    Open    High          Low   Close    Adj Close     Volume
 0    2016-02-19  2487.0  2494.0  2421.000000  2460.0  2229.962891   356040.0
 1    2016-02-22  2465.0  2516.0  2459.000000  2503.0  2268.941895   218841.0
 2    2016-02-23  2525.0  2531.0  2483.000000  2505.0  2270.754639   326460.0
 3    2016-02-24  2492.0  2498.0  2463.000000  2473.0  2241.747070   459857.0
 4    2016-02-25  2517.0  2561.0  2497.000000  2557.0  2317.892090   380506.0
 5    2016-02-26  2581.0  2641.0  2581.000000  2640.0  2393.130859   414925.0
 6    2016-02-29  2597.0  2616.0  2568.000000  2616.0  2371.374756   315579.0
 7    2016-03-01  2603.0  2687.0  2600.000000  2687.0  2435.735840   314164.0
 8    2016-03-02  2685.0  2767.0  2685.000000  2718.0  2463.836914   392474.0
 9    2016-03-03  2781.0  2836.0  2700.000000  2738.0  2481.966797   523997.0
 10   2016-03-04  2712.0  2718.0  2620.000000  2624.0  2378.626709   644066.0
 11   2016-03-07  2626.0  2654.0  2551.000000  2651.0  2403.102051   692668.0
 12   2016-03-08  2635.0  2657.0  2611.000000  2639.0  2392.224121   420076.0
 13   2016-03-09  2642.0  2702.0  2624.000000  2685.0  2433.922852   492154.0
 14   2016-03-10  2692.0  2763.0  2674.000000  2699.0  2446.613525  1114744.0
 15   2016-03-11  2745.0  2748.0  2680.000000  2698.0  2445.707031   418784.0
 16   2016-03-14  2702.0  2720.0  2669.000000  2703.0  2450.239258   267341.0
 17   2016-03-15  2688.0  2721.0  2679.000000  2709.0  2455.678223   261310.0
 18   2016-03-16  2712.0  2727.0  2685.000000  2707.0  2453.865234   534800.0
 19   2016-03-17  2719.0  2739.0  2679.000000  2716.0  2462.024170   328636.0
 20   2016-03-18  2728.0  2774.0  2711.000000  2750.0  2492.844727   329630.0
 21   2016-03-21  2736.0  2756.0  2709.000000  2725.0  2470.182129   271265.0
 22   2016-03-22  2716.0  2726.0  2678.000000  2726.0  2471.088867   349388.0
 23   2016-03-23  2720.0  2741.0  2702.000000  2715.0  2461.117432   402769.0
 24   2016-03-24  2648.0  2662.0  2606.000000  2659.0  2462.969727   432636.0
 25   2016-03-29  2667.0  2684.0  2636.780029  2650.0  2454.633301   304134.0
 26   2016-03-30  2677.0  2716.0  2674.000000  2710.0  2510.210205   258754.0
 27   2016-03-31  2697.0  2705.0  2683.000000  2683.0  2485.200684   249870.0
 28   2016-04-01  2652.0  2653.0  2595.000000  2624.0  2430.550293   313673.0
 29   2016-04-04  2620.0  2648.0  2612.000000  2641.0  2446.296875   294370.0
 ..          ...     ...     ...          ...     ...          ...        ...
 729  2019-01-09  2610.0  2670.0  2592.000000  2650.0  2650.000000   400137.0
 730  2019-01-10  2620.0  2647.0  2608.000000  2646.0  2646.000000   477450.0
 731  2019-01-11  2653.0  2687.0  2623.000000  2634.0  2634.000000   458305.0
 732  2019-01-14  2620.0  2639.0  2572.000000  2598.0  2598.000000   229810.0
 733  2019-01-15  2602.0  2633.0  2548.000000  2564.0  2564.000000   412449.0
 734  2019-01-16  2563.0  2594.0  2544.000000  2571.0  2571.000000   439878.0
 735  2019-01-17  2545.0  2578.0  2528.000000  2558.0  2558.000000   319264.0
 736  2019-01-18  2585.0  2652.0  2572.000000  2642.0  2642.000000   591099.0
 737  2019-01-21  2635.0  2664.0  2635.000000  2655.0  2655.000000   230010.0
 738  2019-01-22  2626.0  2651.0  2608.000000  2608.0  2608.000000   277457.0
 739  2019-01-23  2600.0  2606.0  2579.000000  2581.0  2581.000000   299342.0
 740  2019-01-24  2589.0  2621.0  2584.000000  2615.0  2615.000000   260484.0
 741  2019-01-25  2588.0  2654.0  2578.000000  2587.0  2587.000000   621028.0
 742  2019-01-28  2578.0  2628.0  2578.000000  2595.0  2595.000000   312071.0
 743  2019-01-29  2607.0  2640.0  2571.000000  2623.0  2623.000000   261014.0
 744  2019-01-30  2629.0  2685.0  2629.000000  2647.0  2647.000000   550374.0
 745  2019-01-31  2655.0  2661.0  2584.000000  2611.0  2611.000000   743135.0
 746  2019-02-01  2596.0  2658.0  2596.000000  2650.0  2650.000000   168942.0
 747  2019-02-04  2660.0  2670.0  2622.000000  2660.0  2660.000000   277159.0
 748  2019-02-05  2659.0  2719.0  2652.000000  2712.0  2712.000000   325968.0
 749  2019-02-06  2709.0  2712.0  2678.000000  2707.0  2707.000000   250355.0
 750  2019-02-07  2684.0  2700.0  2649.000000  2649.0  2649.000000   225897.0
 751  2019-02-08  2634.0  2660.0  2591.000000  2591.0  2591.000000   210822.0
 752  2019-02-11  2627.0  2664.0  2609.000000  2658.0  2658.000000   241648.0
 753  2019-02-12  2697.0  2717.0  2670.000000  2693.0  2693.000000   337017.0
 754  2019-02-13  2699.0  2725.0  2691.000000  2704.0  2704.000000   215883.0
 755  2019-02-14  2715.0  2732.0  2689.000000  2694.0  2694.000000   431131.0
 756  2019-02-15  2698.0  2712.0  2661.000000  2698.0  2698.000000   270649.0
 757  2019-02-18  2683.0  2708.0  2680.000000  2697.0  2697.000000   161547.0
 758  2019-02-19  2702.0  2702.0  2663.000000  2668.0  2668.000000   128577.0

 [759 rows x 7 columns],
            Date    Open         High          Low   Close    Adj Close  \
 0    2016-02-19   790.0   810.809021   790.000000   800.0   788.389343
 1    2016-02-22   785.0   805.000000   785.000000   794.0   782.476501
 2    2016-02-23   810.0   810.000000   790.000000   796.0   784.447449
 3    2016-02-24   805.0   813.500000   799.000000   810.0   798.244324
 4    2016-02-25   810.0   904.000000   810.000000   900.0   886.938110
 5    2016-02-26   920.0   921.900024   887.594971   890.0   877.083191
 6    2016-02-29   869.0   890.000000   869.000000   885.0   872.155762
 7    2016-03-01   908.5   908.500000   867.539978   887.0   874.126709
 8    2016-03-02   888.0   892.000000   882.500000   889.5   876.590515
 9    2016-03-03   892.0   892.000000   876.500000   878.0   865.257385
 10   2016-03-04   884.5   884.500000   864.000000   869.0   856.388000
 11   2016-03-07   880.0   888.500000   877.000000   886.0   873.141235
 12   2016-03-08   878.0   912.500000   878.000000   908.5   895.314636
 13   2016-03-09   905.0   940.000000   903.630005   936.0   922.415649
 14   2016-03-10   941.5   941.500000   914.500000   918.0   904.676819
 15   2016-03-11   916.0   916.000000   892.500000   909.0   895.807434
 16   2016-03-14   901.0   983.500000   901.000000   967.5   953.458435
 17   2016-03-15   967.0   972.000000   949.500000   951.5   937.690613
 18   2016-03-16   962.0   987.500000   949.000000   987.5   973.168152
 19   2016-03-17   990.0  1012.000000   961.000000  1012.0   997.312561
 20   2016-03-18  1010.0  1070.000000  1003.000000  1045.0  1029.833740
 21   2016-03-21  1026.0  1052.000000  1026.000000  1052.0  1036.731934
 22   2016-03-22  1027.0  1068.650024  1027.000000  1055.0  1039.688599
 23   2016-03-23  1035.0  1072.000000  1035.000000  1064.0  1048.557983
 24   2016-03-24  1057.0  1065.000000  1037.000000  1038.0  1022.935242
 25   2016-03-29  1036.0  1057.000000  1021.700012  1057.0  1041.659424
 26   2016-03-30  1079.0  1079.000000  1032.000000  1033.0  1018.007874
 27   2016-03-31  1043.0  1064.819946  1039.000000  1057.0  1041.659424
 28   2016-04-01  1043.0  1075.959961  1038.599976  1064.0  1048.557983
 29   2016-04-04  1074.0  1074.000000  1064.000000  1073.0  1057.427246
 ..          ...     ...          ...          ...     ...          ...
 729  2019-01-09  2912.0  2982.000000  2880.000000  2982.0  2982.000000
 730  2019-01-10  2978.0  3016.000000  2896.000000  2930.0  2930.000000
 731  2019-01-11  2950.0  2950.000000  2714.000000  2782.0  2782.000000
 732  2019-01-14  2786.0  2810.000000  2756.000000  2760.0  2760.000000
 733  2019-01-15  2776.0  2804.000000  2730.000000  2768.0  2768.000000
 734  2019-01-16  2796.0  2854.000000  2762.000000  2792.0  2792.000000
 735  2019-01-17  2746.0  2812.000000  2696.000000  2734.0  2734.000000
 736  2019-01-18  2754.0  2762.000000  2650.000000  2758.0  2758.000000
 737  2019-01-21  2760.0  2818.000000  2760.000000  2792.0  2792.000000
 738  2019-01-22  2798.0  2810.000000  2758.000000  2810.0  2810.000000
 739  2019-01-23  2808.0  2810.000000  2692.000000  2700.0  2700.000000
 740  2019-01-24  2700.0  2748.000000  2654.000000  2668.0  2668.000000
 741  2019-01-25  2694.0  2702.000000  2658.000000  2666.0  2666.000000
 742  2019-01-28  2632.0  2656.000000  2560.000000  2560.0  2560.000000
 743  2019-01-29  2572.0  2608.000000  2512.000000  2536.0  2536.000000
 744  2019-01-30  2546.0  2592.000000  2530.000000  2550.0  2550.000000
 745  2019-01-31  2570.0  2622.000000  2562.000000  2576.0  2576.000000
 746  2019-02-01  2598.0  2660.000000  2578.000000  2580.0  2580.000000
 747  2019-02-04  2572.0  2590.000000  2536.000000  2538.0  2538.000000
 748  2019-02-05  2534.0  2644.000000  2530.000000  2630.0  2630.000000
 749  2019-02-06  2618.0  2678.000000  2584.000000  2664.0  2664.000000
 750  2019-02-07  2634.0  2634.000000  2590.000000  2602.0  2602.000000
 751  2019-02-08  2608.0  2614.000000  2586.000000  2592.0  2592.000000
 752  2019-02-11  2612.0  2668.000000  2588.000000  2650.0  2650.000000
 753  2019-02-12  2664.0  2722.000000  2646.000000  2700.0  2700.000000
 754  2019-02-13  2718.0  2754.000000  2656.000000  2732.0  2732.000000
 755  2019-02-14  2722.0  2770.000000  2700.000000  2754.0  2754.000000
 756  2019-02-15  2766.0  2838.000000  2748.000000  2774.0  2774.000000
 757  2019-02-18  2764.0  2790.000000  2734.000000  2756.0  2756.000000
 758  2019-02-19  2764.0  2770.000000  2734.000000  2746.0  2746.000000

       Volume
 0     156660
 1     372019
 2      77906
 3     596574
 4     650373
 5     207624
 6     174487
 7     146544
 8      56780
 9     330229
 10    193648
 11    167326
 12     68978
 13    142472
 14    136121
 15    116586
 16    245887
 17    240366
 18    215454
 19    141485
 20    307033
 21    137019
 22     95946
 23     94660
 24     55290
 25     51764
 26    240106
 27     62511
 28     59753
 29     71395
 ..       ...
 729   593665
 730   547414
 731   602141
 732   323230
 733   423801
 734   337343
 735   443872
 736   466123
 737   199292
 738  5860049
 739  4064509
 740   531186
 741   359971
 742   525504
 743   501139
 744   470360
 745   715014
 746   590133
 747  1385216
 748  1458830
 749   918374
 750  1021706
 751   486257
 752   439402
 753   690632
 754   616788
 755   522165
 756   549497
 757   202141
 758   731318

 [759 rows x 7 columns],
            Date         Open         High          Low        Close  \
 0    2016-02-19  1281.280029  1281.280029  1266.719971  1278.160034
 1    2016-02-22  1291.680054  1307.280029  1287.520020  1294.800049
 2    2016-02-23  1289.599976  1296.880005  1276.079956  1278.160034
 3    2016-02-24  1279.199951  1297.920044  1264.640015  1272.959961
 4    2016-02-25  1288.560059  1296.880005  1279.199951  1292.719971
 5    2016-02-26  1305.199951  1305.199951  1286.479980  1298.959961
 6    2016-02-29  1292.719971  1316.640015  1287.520020  1316.640015
 7    2016-03-01  1315.599976  1333.280029  1309.670044  1327.040039
 8    2016-03-02  1336.400024  1349.920044  1303.280029  1310.400024
 9    2016-03-03  1303.119995  1311.439941  1284.400024  1290.640015
 10   2016-03-04  1291.680054  1302.079956  1281.280029  1284.400024
 11   2016-03-07  1280.239990  1284.400024  1264.640015  1268.800049
 12   2016-03-08  1267.760010  1269.530029  1259.439941  1265.680054
 13   2016-03-09  1268.800049  1272.959961  1257.359985  1262.560059
 14   2016-03-10  1266.719971  1268.800049  1242.800049  1242.800049
 15   2016-03-11  1260.479980  1267.760010  1253.199951  1264.640015
 16   2016-03-14  1267.760010  1270.880005  1260.479980  1263.599976
 17   2016-03-15  1263.599976  1276.079956  1250.099976  1270.880005
 18   2016-03-16  1269.839966  1276.079956  1267.760010  1270.880005
 19   2016-03-17  1270.880005  1276.079956  1256.319946  1274.000000
 20   2016-03-18  1277.119995  1281.280029  1267.760010  1269.839966
 21   2016-03-21  1270.880005  1275.040039  1264.640015  1274.000000
 22   2016-03-22  1266.719971  1274.000000  1252.160034  1268.800049
 23   2016-03-23  1267.760010  1274.000000  1260.479980  1263.599976
 24   2016-03-24  1261.520020  1269.839966  1256.319946  1260.479980
 25   2016-03-29  1264.640015  1268.800049  1256.319946  1263.599976
 26   2016-03-30  1269.839966  1281.280029  1261.520020  1279.199951
 27   2016-03-31  1278.160034  1286.479980  1272.959961  1277.119995
 28   2016-04-01  1265.680054  1287.520020  1257.359985  1287.520020
 29   2016-04-04  1284.400024  1305.260010  1284.400024  1295.839966
 ..          ...          ...          ...          ...          ...
 729  2019-01-09  1664.500000  1673.000000  1650.000000  1654.500000
 730  2019-01-10  1654.000000  1681.000000  1653.500000  1675.500000
 731  2019-01-11  1670.500000  1685.000000  1663.500000  1667.000000
 732  2019-01-14  1660.500000  1672.000000  1645.500000  1653.500000
 733  2019-01-15  1653.500000  1668.000000  1649.500000  1656.500000
 734  2019-01-16  1661.500000  1662.000000  1630.000000  1631.000000
 735  2019-01-17  1613.000000  1615.000000  1597.500000  1611.500000
 736  2019-01-18  1619.000000  1625.500000  1603.000000  1619.000000
 737  2019-01-21  1619.000000  1629.000000  1617.500000  1625.500000
 738  2019-01-22  1626.000000  1640.000000  1623.000000  1627.500000
 739  2019-01-23  1629.000000  1633.500000  1609.500000  1624.500000
 740  2019-01-24  1627.500000  1627.500000  1605.500000  1613.000000
 741  2019-01-25  1614.000000  1614.500000  1586.500000  1586.500000
 742  2019-01-28  1582.500000  1591.000000  1575.500000  1583.000000
 743  2019-01-29  1589.000000  1618.500000  1584.500000  1609.500000
 744  2019-01-30  1610.500000  1641.500000  1602.500000  1641.500000
 745  2019-01-31  1632.500000  1645.000000  1623.500000  1630.500000
 746  2019-02-01  1630.500000  1638.500000  1625.000000  1632.000000
 747  2019-02-04  1630.500000  1658.000000  1630.500000  1654.000000
 748  2019-02-05  1650.000000  1692.000000  1643.500000  1692.000000
 749  2019-02-06  1680.000000  1696.000000  1672.000000  1696.000000
 750  2019-02-07  1735.000000  1776.500000  1730.000000  1758.000000
 751  2019-02-08  1762.000000  1767.500000  1742.500000  1749.000000
 752  2019-02-11  1758.000000  1764.500000  1732.500000  1746.000000
 753  2019-02-12  1743.000000  1755.000000  1726.000000  1745.500000
 754  2019-02-13  1739.000000  1765.000000  1731.500000  1758.500000
 755  2019-02-14  1758.500000  1765.000000  1748.000000  1756.000000
 756  2019-02-15  1759.000000  1772.500000  1741.500000  1743.500000
 757  2019-02-18  1729.000000  1734.500000  1711.000000  1730.500000
 758  2019-02-19  1735.000000  1736.500000  1716.000000  1716.000000

        Adj Close   Volume
 0    1195.638428  3643399
 1    1211.204102  3159800
 2    1195.638428  2347209
 3    1190.774170  3665026
 4    1209.258423  2784075
 5    1215.095581  2511587
 6    1231.634033  4111462
 7    1241.362549  2864269
 8    1225.797119  4338344
 9    1207.312744  2692143
 10   1201.475708  4166394
 11   1186.882935  2792820
 12   1183.964355  2729157
 13   1181.045654  2715822
 14   1162.561646  3563621
 15   1182.991455  2742274
 16   1182.018311  2117913
 17   1188.828491  2626412
 18   1188.828491  2122831
 19   1191.747070  2176995
 20   1187.855713  3496859
 21   1191.747070  1726982
 22   1186.882935  2557310
 23   1182.018311  2125336
 24   1179.099854  1501428
 25   1182.018311  1811573
 26   1196.611084  2883055
 27   1194.665649  3101728
 28   1204.394165  2427646
 29   1212.177002  2194554
 ..           ...      ...
 729  1628.734009  3432460
 730  1649.406982  3393272
 731  1641.039429  2796213
 732  1627.749634  2587798
 733  1630.702881  2996256
 734  1605.599976  4104482
 735  1611.500000  5615888
 736  1619.000000  3271161
 737  1625.500000  1724306
 738  1627.500000  1674812
 739  1624.500000  3472945
 740  1613.000000  3289122
 741  1586.500000  3946814
 742  1583.000000  2946677
 743  1609.500000  3728875
 744  1641.500000  4277080
 745  1630.500000  4598644
 746  1632.000000  3047564
 747  1654.000000  5140986
 748  1692.000000  5526335
 749  1696.000000  4335972
 750  1758.000000  6380913
 751  1749.000000  3561546
 752  1746.000000  3501165
 753  1745.500000  3735445
 754  1758.500000  2732176
 755  1756.000000  2225236
 756  1743.500000  2922813
 757  1730.500000  2112469
 758  1716.000000  2601070

 [759 rows x 7 columns]]

In [26]:
df = pd.read_csv('data/AHT.L.csv', header=0,usecols = ['Date','Close'])

In [22]:
df[:3]

         Date  Close
0  2016-02-19  846.5
1  2016-02-22  879.0
2  2016-02-23  876.0

In [42]:
# frame.to_csv(final.csv, encoding='utf-8')
frame.to_csv("output.csv", index=False)

In [43]:
import pandas as pd
df = pd.read_csv('output.csv')

In [44]:
df[:2]

,SDR.L.csv,NMC.L.csv,CPG.L.csv,PRU.L.csv,STJ.L.csv,WWD.csv,EBAY.csv,EZJ.L.csv,CCL.L.csv,EXPN.L.csv,...,GVC.L.csv,AHT.L.csv,RB.L.csv,SMT.L.csv,PPB.L.csv,SPX.L.csv,BA.L.csv,DLG.L.csv,LLOY.L.csv,RMV.L.csv
0,2460.0,800.0,1278.160034,1229.5,892.0,46.660000,32.900002,1553.0,3313.0,1162.0,...,460.75,846.5,6556.0,2.40758,10100.0,3038.0,505.5,374.700012,61.799999,374.000000
1,2503.0,794.0,1294.800049,1253.5,899.0,46.360001,32.610001,1545.0,3417.0,1184.0,...,468.50,879.0,6582.0,2.48168,10320.0,3082.0,510.0,378.200012,63.119999,371.799988

In [21]:
for n in glob.glob("data/*.csv"):
    print(n)

data/SDR.L.csv
data/NMC.L.csv
data/CPG.L.csv
data/PRU.L.csv
data/STJ.L.csv
data/WWD.csv
data/EBAY.csv
data/EZJ.L.csv
data/CCL.L.csv
data/EXPN.L.csv
data/SMIN.L.csv
data/TSCO.L-2.csv
data/SSE.L.csv
data/AUTO.L.csv
data/TUI.L.csv
data/EA.csv
data/CCH.L.csv
data/RTO.L.csv
data/VOD.L.csv
data/BATS.L.csv
data/GVC.L.csv
data/AHT.L.csv
data/RB.L.csv
data/SMT.L.csv
data/PPB.L.csv
data/SPX.L.csv
data/BA.L.csv
data/DLG.L.csv
data/LLOY.L.csv
data/RMV.L.csv

In [6]:
a=[]
for file_ in glob.glob("data/*.csv"):
    a.append(os.path.basename(file_))

In [7]:
a

['SDR.L.csv',
 'NMC.L.csv',
 'CPG.L.csv',
 'PRU.L.csv',
 'STJ.L.csv',
 'WWD.csv',
 'EZJ.L.csv',
 'CCL.L.csv',
 'EXPN.L.csv',
 'SMIN.L.csv',
 'TSCO.L-2.csv',
 'SSE.L.csv',
 'AUTO.L.csv',
 'TUI.L.csv',
 'CCH.L.csv',
 'RTO.L.csv',
 'output.csv',
 'VOD.L.csv',
 'BATS.L.csv',
 'GVC.L.csv',
 'AHT.L.csv',
 'RB.L.csv',
 'SMT.L.csv',
 'PPB.L.csv',
 'SPX.L.csv',
 'BRBY.L.csv',
 'BA.L.csv',
 'DLG.L.csv',
 'LLOY.L.csv',
 'ASBFY.csv',
 'RMV.L.csv']